{{ define "main" }}
<div class="grid grid-cols-12 gap-8 h-full">

    <!-- Sidebar: Branding or Context -->
    <aside class="col-span-12 md:col-span-3 lg:col-span-2 pt-4 md:pt-8 mb-6 md:mb-0">
        <h1 class="text-3xl sm:text-4xl font-sans tracking-tighter mb-6 md:mb-12 relative">
            {{ .Title }}
            <span class="absolute top-0 -right-4 text-xs font-mono text-gray-500">({{ len .Pages }})</span>
        </h1>

        <a href="/" class="font-mono text-xs uppercase text-gray-500 mb-4 tracking-wider hover:text-black dark:hover:text-white block transition-colors">← Back to Home</a>
    </aside>

    <!-- Main List: Posts -->
    <div class="col-span-12 md:col-span-9 lg:col-span-10">
        <!-- Header Row -->
        <div class="hidden md:grid grid-cols-12 border-b border-theme-border pb-2 mb-4 font-mono text-xs uppercase text-gray-500 tracking-wider">
            <div class="col-span-2">/ Date</div>
            <div class="col-span-7">/ Name</div>
            <div class="col-span-2">/ Tags</div>
        </div>

        <!-- Posts Loop -->
        <div class="space-y-0" id="posts-container">
            {{ range .Pages }}
             <div class="group post-item border-b border-theme-border" data-tags="{{ with .Params.tags }}{{ delimit . "," | lower }}{{ end }}">
                <!-- Header -->
                <a href="{{ .RelPermalink }}" class="group block md:grid md:grid-cols-12 py-4 md:py-6 md:items-center hover:bg-[#ccff00] transition-colors duration-300 ease-out -mx-4 px-4 relative">
                    <!-- Date + Title -->
                    <div class="md:col-span-9 md:grid md:grid-cols-9 md:items-center group-hover:underline decoration-1 underline-offset-4 w-full h-full mb-3 md:mb-0">
                        <div class="font-mono text-[10px] sm:text-xs text-gray-500 dark:text-gray-400 group-hover:text-black transition-colors duration-300 mb-2 md:mb-0 md:col-span-2">
                            {{ .Date.Format "2006.01.02" }}
                        </div>
                        <div class="text-xl sm:text-2xl md:text-3xl font-sans tracking-tight font-medium leading-snug group-hover:text-black transition-colors duration-300 md:col-span-7 md:pr-8">
                            {{ .Title }}
                        </div>
                    </div>

                    <!-- Tags -->
                    <div class="md:col-span-3 flex flex-wrap gap-1 justify-start md:justify-end">
                        {{ range .Params.tags }}
                        <span class="text-[10px] font-mono border border-gray-300 dark:border-gray-700 rounded-none px-1 text-gray-500 dark:text-gray-400 group-hover:border-black group-hover:text-black uppercase bg-white/50 dark:bg-black/20 group-hover:bg-transparent transition-colors duration-300">{{ . }}</span>
                        {{ end }}
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>

</div>
{{ end }}
